body{
	color: #003b58;
	font-family: sans-serif;
}
/* Front page */
header{
	height: 40px !important;
	background-color: #552244 !important;
}
.freeRegistry{
	line-height: 1.2;
	font-size: 13px;
}

#firstItems{
	border-right: 1px solid lightgray;
	height: 270px;
}
.dropdown-item{
	line-height: 1.5rem;
}
.nav-link, .dropdown-item{
	font-size: 13px;
}
.dropdown-menu{
	height: 300px;
}
.adAtCart{
	height: 150px;
}
.ad{
	height: 45px !important;
}
.starterCollections{
	position: relative;
	top: 0;
	left: 0;
	z-index: 99999;
}
.heroBanner{
	height: 70vh;
	width: 100%;
	object-fit: cover;
	background: linear-gradient(
		rgba(0,0,0,0.1),
		rgba(0,0,0,0.1)
	),
	url("https://images.pexels.com/photos/2395249/pexels-photo-2395249.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	position: center;
	background-size: cover;
}
.services{
	height: 100px;
	width: 100px;
	border: 2px solid white;
	background-color: 	#f6f6f6;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.fa-gift, .fa-tv, .fa-envelope-open-text{
	font-size: 50px;
}	

.ps4BgImage{
	background: linear-gradient(
		rgba(0,0,0, 0.2),
		rgba(0,0,0, 0.2)
	),
	url("https://via.placeholder.com/300x200?fbclid=IwAR3tYJl8dhTKMqMjb2FHn66J1Z79CEWlqu4nvBExg5GqjE0KOMWz-Pfyh8o");
	min-height: 50vh;
	background-size: contain;
}

#readyWhenYouAre{
	background-image: url("https://via.placeholder.com/1500x330?fbclid=IwAR3tYJl8dhTKMqMjb2FHn66J1Z79CEWlqu4nvBExg5GqjE0KOMWz-Pfyh8o");
	height: 330px;
	background-size: contain;
}